name: Build-openSUSE

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:

  CreateTarball:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout bootstrap code
        uses: actions/checkout@v4

      - name: Pull sub-repos
        run: git submodule update --init --recursive --depth=1

      - name: Create tarball
        run: scripts/create-tarball.sh

      - name: Upload tarballs
        uses: actions/upload-artifact@v4
        with:
          name: ngscopeclient-source
          path: |
            tarballs/*

  deploy:
    needs: CreateTarball
    steps:
      - name: list all files
        run: file *
      - name: Extract source zip
        run: unzip ngscopeclient-source.zip

    strategy:
      fail-fast: true
      matrix:
        os:
          - name: tumbleweed
            version: tumbleweed
            container: opensuse/tumbleweed
            lsb-name: openSUSE

        sdk_type: [ repo ]
        docs: [ false ]
        exclude:
          - sdk_type: standalone
            docs: true

    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.os.container }}
      env:
        DISTRO_LSB_ID: ${{ matrix.os.lsb-name }}

    steps:

      - name: Download source tarball
        uses: actions/download-artifact@v4
        with:
          name: ngscopeclient-source
          path: .

      - name: Unpack source tarball
        run: tar -xf *.tar.gz

      - name: Use CCache
        if: ${{ !env.ACT }}
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.os.container }}-${{ matrix.sdk_type}}
          max-size: "1500M"

      - name: Pull sub-repos
        run: git submodule update --init --recursive --depth=1

      - name: Install distro specific vulkan dependencies
        run: scripts/distro-tools.sh install-vulkan-deps

      - name: Configure
        run: |
          git config --global --add safe.directory `pwd`
          mkdir build
          cd build
          cmake \
            -DCMAKE_BUILD_TYPE=Release \
            -DDISABLE_PCH=ON \
            -GNinja \
            -DCPACK_GENERATOR=DEB \
            -DBUILD_TESTING=ON \
            -DCMAKE_INSTALL_PREFIX=/usr \
            ..

      - name: Build
        if: ${{ ! matrix.docs }}
        run: |
          cd build
          ninja
